/* banner */
.banner {
	background: linear-gradient( to bottom, 
		rgba(0,0,0, .2),
		rgba(0,0,0,.3)),
        url('https://i.imgur.com/gc1HjiF.jpg');
	height: 600px;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	margin-top: 0;
}
/* Footer section css */

.footer {
  padding: 100px 20px 10px;
  background-image: linear-gradient(#2d557d, #9610fd);
  color: #ffffff;
}


